body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  font-family: "Poppins", system-ui;
  font-weight: 200;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 700px;
  width: 80%;
  color: white;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

p {
  font-size: 18px;
  margin: 10px 0;
  color: white;
}

strong {
  color: #ffffff;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .glass-card {
    max-width: 90%;
    width: 100%;
  }
}
